/coverage/**/*
/.idea/**/*
/**/*.ts
!/**/*.d.ts
!/generated/assertions.ts
/generated/.eslintcache
/.eslintcache
/tests/**/*
/tests.*
/generate.*
/lib/assertables.*
!/lib/main.ts
/Makefile
/.editorconfig
/.eslintignore
/.prettierignore
/.prettierrc
/.devcontainer/**/*
/**/*.json
