/coverage/**/*
/.idea/**/*
/**/*.ts
/**/*.js
/**/*.js.map
!/generated/assertions.ts
/generated/.eslintcache
/.eslintcache
/tests/**/*
/tests.*
/generate.*
/lib/**/*
/Makefile
/.editorconfig
/.eslintignore
/.prettierignore
/.prettierrc
/.devcontainer/**/*
/**/*.json
