/coverage/**/*
/.idea/**/*
/**/*.ts
/**/*.js.map
!/**/*.d.ts
/tests/**/*
/tests.*
/generate.*
/lib/assertables.*
/Makefile
/.editorconfig
/.prettierignore
/.prettierrc
/.devcontainer/**/*
/**/*.json
/.github/
